radio2gether.com, www.radio2gether.com {
    handle /hubs/* {
        reverse_proxy backend:8080
    }

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}
